__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
uv.lock
rlinf/envs/maniskill/assetsrlinf/envs/mujoco/franka_sim/
/rlinf/envs/mujoco/franka_sim/
