__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
uv.lock
rlinf/envs/maniskill/assets
# model weights / large files
storage/download_models/
*.safetensors
*.pt
*.pth
*.ckpt
*.bin
*.onnx

# python env
.venv/
venv/
__pycache__/

# caches
*.log
*.tmp
